<div class="container">
  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="form-group">
      <label class="form-control-label">Nome</label>
      <input type="text" class="form-control" name="nome" ngModel required minlength="10" #nome="ngModel"
      [(ngModel)]="cliente.nome" [class.is-invalid]="nome.invalid && nome.touched">
      <div *ngIf="nome.hasError('required') && nome.touched" class="invalid-feedback">
        <strong>Informe um nome</strong>
      </div>
      <div *ngIf="nome.hasError('minlength') && nome.touched" class="invalid-feedback">
        <strong>Informe um nome completo</strong>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label">E-mail</label>
      <input type="text" class="form-control" name="email" ngModel email #email="ngModel"
      [(ngModel)]="cliente.email" [class.is-invalid]="email.invalid && email.touched">
      <div *ngIf="email.hasError('email') && email.touched" class="invalid-feedback">
        <strong>Informe um email válido</strong>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label">Profissão</label>
      <select class="form-control" name="profissao" ngModel required #profissao="ngModel"
      [(ngModel)]="cliente.profissao" [class.is-invalid]="profissao.invalid && profissao.touched">
        <option value="">Selecione</option>
        <option *ngFor="let profissao of profissoes"
                value="{{ profissao}}">{{ profissao }}</option>
      </select>
      <div *ngIf="profissao.hasError('required') && profissao.touched" class="invalid-feedback">
        <strong>Informe uma profissão</strong>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Salvar</button>
  </form>

</div>
